body{
    background-color: yellowgreen;
}

h1{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}


p{
    color:rgb(214, 72, 91);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.redbull1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.redbull2{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
#copyright
{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}